.parent {
    background-color: #cccccc;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: stretch;
    align-self: flex-start;
}

.nav {
    background-color: #cccccc;
    width: 15em;
    float: left;
    margin: 0px;
    flex-shrink: 0;
}

.item {
    background-color: #aaaaaa;
    margin-bottom: 0.2em;
    padding-top: 0.1px;
    padding-bottom: 0.1px;
    overflow: auto;
}

.footer {
    background-color: #cccccc;
    clear: both;
    padding-top: 0.1px;
    padding-bottom: 0.1px;
}

img {
    float: right;

}